@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url("./images/header-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

/* removing default styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
}

/* header */

#divider {
  background-image: url("./images/header-cutoff.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-y: 90%;
  min-height: 300px;
  flex: auto;
}

.header {
  padding: 5em 30vh 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header > .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

a {
  color: #cba6f7;
}

a:visited {
  color: #8839ef;
}

.header-text {
  background: #181825;
  color: #f38ba8;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid;
}

.bar .links ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.header-content {
  color: #f38ba8;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.header-content .left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

.header-content .right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.header-content .left-content .title {
  font-size: 3em;
  font-weight: 900;
}

.header-content .left-content .subtext {
  font-size: 1.5em;
}

.header-content .left-content a {
  background: #f38ba8;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.img-container {
  aspect-ratio: 1/1;
  height: 80%;
  border-radius: 100%;
  border: 5px solid #f38ba8;
  overflow: hidden;
}

.header-content .right-content .img-container img {
  max-width: 100%;
}

/* content */

.content-parent {
  background: #181825;
  color: #cdd6f4;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30vh;
}

.content-one,
.content-two,
.content-three {
  flex: 1;
  padding: 1em;
}

.content-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-one .pets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}

.content-one .pets-container div {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.content-one .pets-container div img {
  border: 5px solid #89b4fa;
}

.content-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-two p {
  background: #11111b;
  border-radius: 30px;
  font-size: 32px;
  padding: 2em;
  position: relative;
}

.content-two p::before {
  content: "";
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 30px solid #11111b;
  top: -30px;
  left: 25px;
}

.content-two p strong {
  color: #f38ba8;
}

.content-two p em {
  color: #cba6f7;
}

.content-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-three .ad-block {
  background: #bf616a;
  border-radius: 10px;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
}

.content-three .ad-block h2 {
  color: #88c0d0;
}

.content-three .ad-block p {
  color: #d8dee9;
}

.content-three .ad-block a {
  color: #4c566a;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid #d8dee9;
}

/* footer */

.footer {
  background: #11111b;
  height: 25vh;
  min-height: 100px;
  padding: 2em;
  flex: 1;
  text-align: center;
  color: #f38ba8;
}

.footer .img-container {
  margin: auto;
}

.footer img {
  aspect-ratio: 1/1;
  height: 50px;
}

@media all and (max-width: 1200px) {
  .header {
    padding: 3em 8vh 0;
  }
  .content-parent {
    padding: 0 8vh;
  }
}
