@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url("./images/header-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-image: url("./images/header-cutoff.png");
  background-repeat: no-repeat;
  background-position: 0px 200px;
  background-attachment: scroll;
  min-height: 700px;
  flex: auto;
  padding: 5em 30vh;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media all and (max-width: 1000px) {
  .header {
    padding: 3em 8vh;
  }
}

.header > .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.bar .links a {
  color: #cba6f7;
}

.bar .links a:visited {
  color: #8839ef;
}

.bar .logo {
  background: #181825;
  color: #f38ba8;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid;
}

.bar .links ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.header-content {
  color: #f38ba8;
  display: flex;
  flex-wrap: wrap;
}

.header-content .left-content {
  flex: 1;
}

.header-content .right-content {
  flex: 1;
}

.header-content .left-content .title {
  font-size: 3em;
  font-weight: 900;
}

.header-content .left-content .subtext {
  font-size: 1.5em;
}

.content-parent {
  background: #181825;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-one,
.content-two,
.content-three {
  flex: auto;
  height: 200px;
}

.footer {
  /* background: #342415; */
  /* background: #b4befe; */
  background: #585b70;
  background: #11111b;
  height: 15vh;
  min-height: 100px;
}
